@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Geist Sans', sans-serif;
}

@layer components {
  .h1 {
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 40px;
    /* 111.111% */
    letter-spacing: -0.9px;
  }

  .h2 {
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: 36px;
    /* 120% */
    letter-spacing: -0.75px;
  }

  .h3 {
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
    /* 133.333% */
    letter-spacing: -0.6px;
  }

  .h4 {
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    /* 27px */
    letter-spacing: -0.45px;
  }

  .p {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    /* 175% */
  }

  .blockquote {
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
    line-height: 28px;
    /* 175% */
  }

  .list {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    /* 175% */
  }

  .lead {
    /* lead */
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    /* 140% */
  }

  .large {
    /* large */
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    /* 155.556% */
  }

  .small {
    /* small */
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 180%;
    /* 25.2px */
  }

  .muted {
    /* muted */
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    /* 142.857% */
  }
}